

.box{
	width:100px;
	height:100px;
	background-color:green;
	
}
#box1{
	background-color:red;
	
}
#box2{
	background-color:blue;
}
.holder{
	display:flex;
	justify-content:center;
	flex-wrap:wrap;
	flex-direction:row;
}
.box:nth-child(1){
	order:3;
 }
 .box:nth-child(2){
	order:1;
} 
.box:nth-child(2){
	order:3;
} 